{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="{% url 'home' %}">Go back to home</a>
    </div>
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <!-- <li {% if '/search/' in request.path %} class="active" {% endif %}>
          <a href="{#% url 'search' %#}">Search</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
{% endblock %}


{% block content %}
<form class="" method="get">
  <div class="well">
    {{ product_filter.form.as_table }}
  </div>
  <button class="btn btn-primary" type="submit">Search</button>
</form>

<ul>
  {% for p in product_filter.qs %}
  <li>{{ p.name }}, {{ p.price }}, {{ p.description }}, {{ p.release_date | date:'m/d/Y' }}</li>
  {% endfor %}
</ul>

{% endblock %}